language: objective-c
osx_image: xcode8.3
rvm: 2.3.3

cache:
  cocoapods: true

install:
- gem install cocoapods xcpretty
- pod repo update
- pod install
- brew install jq

env:
  - SCHEME=iOSTests
  - SCHEME=tvOSTests

script:
  - export DESTINATION="$(./scripts/destination.sh $SCHEME)"
  - xcrun simctl list
  - set -o pipefail && env NSUnbufferedIO=YES xcodebuild -workspace Demo.xcworkspace -scheme "$SCHEME" -destination "$DESTINATION" build test | xcpretty
